<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
</head>
<link href="style.css" rel="stylesheet">
<body>
   
    <div style="border-radius: 20px; height:auto;width:500px;" class="a">
    <h1 style="color:brown"><%= listItems %></h1>
    </div>
    
        
   
   <% for(var i=0;i<newitem.length; i++) {%>
    <form action="/delete" method="post">
        <div class="b">
        <li><%= newitem[i].name %><input type="checkbox" name="checkbox" value="<%= newitem[i]._id %>" onchange="this.form.submit()" ></li>
    </div>
    <input type="hidden" name="listname" value="<%= listItems %>"></input>
</form><%
   }%>

    
       
    
    <form action="/" method="post">
        <input type="text" name="nameitem" class="d">
        <button type="submit" name="list" value="<%= listItems %>" >+</button>
    </form>
    
    
    
</body>
</html>